@use "../../../styles/variables" as var;
@use "../../../styles/responsive";
@use "../../../styles/mixins" as mixin;

.open-menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: width 250ms linear, background 400ms linear;

  @include responsive.breakpoint(smaller) {
    background-color: var.$responsive-menu;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
  }

  @include responsive.breakpoint(1300px) {
    background-color: transparent;
    position: static;
    height: 100vh;
    width: 100%;
  }

  .menu__link,
  .theme {
    opacity: 1;
    transform: translateY(0);
    transition: transform 500ms linear, opacity 490ms linear;

    @include mixin.child-transition-delay;
  }
}

.closed-menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: width 250ms linear;
  overflow: hidden;

  @include responsive.breakpoint(smaller) {
    background-color: var.$responsive-menu;
    position: absolute;
    height: 100vh;
    width: 0;
    top: 0;
    right: 0;
  }

  @include responsive.breakpoint(1300px) {
    background-color: transparent;
    margin-top: 6.6rem;
    position: static;
    height: fit-content;
    width: fit-content;
    overflow: initial;
  }

  .menu__link,
  .theme {
    @include responsive.breakpoint(smaller) {
      opacity: 0;
      transform: translateY(32px);
      transition-delay: 0s;
    }
  }
}

ul {
  @include responsive.breakpoint(smaller) {
    width: var.$mobile;
    padding: 0 20px;
  }

  @include responsive.breakpoint(medium) {
    width: var.$tablet;
    padding: 0 100px;
  }

  @include responsive.breakpoint(1300px) {
    width: fit-content;
    margin: 0;
    gap: 3.2rem;
    padding: 0;
  }

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 9.6rem;

  .menu__link {
    cursor: pointer;
    color: var.$text-color;
    display: flex;
    gap: 1.6rem;
    user-select: none; // TEMP

    @include responsive.breakpoint(1300px) {
      width: fit-content;
      opacity: 0;
      @include mixin.effect-of-appearing;
      @include mixin.child-animation-delay;
    }

    &:hover {
      color: var.$primary-color;
      transition: color 250ms linear;

      &:nth-child(n) {
        transition-delay: 0s;
      }
    }

    svg {
      @include responsive.breakpoint(medium) {
        width: 28px;
        height: 28px;
      }
    }

    .menu__link__item {
      text-decoration: none;
      position: relative;
      font-size: var.$mobile-links;
      color: var.$text-color;

      @include responsive.breakpoint(medium) {
        font-size: var.$tablet-links;
      }

      font-weight: var.$medium;
      padding-bottom: 0.8rem;

      &:hover {
        color: var.$primary-color;
        transition: color 250ms linear;
      }

      &::after {
        content: "";
        background-color: var.$primary-color;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 1.8px;
        transition: width 250ms linear;
      }
    }

    &:hover > a::after {
      width: 100%;
    }
  }

  .theme {
    margin-top: 4.8rem;
    transition-delay: 700ms;

    @include responsive.breakpoint(1300px) {
      display: none;
    }

    .--menu {
      @include responsive.breakpoint(smaller) {
        display: flex;
      }

      @include responsive.breakpoint(1300px) {
        display: none;
      }
    }
  }
}
