@use "../../../styles/variables" as var;
@use "../../../styles/responsive";
@use "../../../styles/mixins" as mixin;


ul {
  @include responsive.breakpoint(smaller) {
    width: var.$mobile;
    padding: 0 20px;
  }

  @include responsive.breakpoint(medium) {
    width: var.$tablet;
    padding: 0 100px;
  }

  @include responsive.breakpoint(1300px) {
    width: fit-content;
    margin: 0;
    gap: 3.2rem;
    padding: 0;
  }

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 18.12rem;

  .menu__link {
    cursor: pointer;
    color: var.$text-color;
    display: flex;
    gap: 1.6rem;
    user-select: none; // TEMP

    @include responsive.breakpoint(1300px) {
      width: fit-content;
      opacity: 0;
      @include mixin.effect-of-appearing;
      @include mixin.child-animation-delay;
    }

    &:hover {
      color: var.$primary-color;
      transition: color 250ms linear;

      &:nth-child(n) {
        transition-delay: 0s;
      }
    }

    svg {
      @include responsive.breakpoint(medium) {
        width: 28px;
        height: 28px;
      }
    }

    .menu__link__item {
      text-decoration: none;
      position: relative;
      font-size: var.$mobile-links;
      color: var.$text-color;

      @include responsive.breakpoint(medium) {
        font-size: var.$tablet-links;
      }

      font-weight: var.$medium;
      padding-bottom: 0.8rem;

      &:hover {
        color: var.$primary-color;
        transition: color 250ms linear;
      }

      &::after {
        content: "";
        background-color: var.$primary-color;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 1.8px;
        transition: width 250ms linear;
      }
    }

    &:hover > a::after {
      width: 100%;
    }
  }

  .theme {
    margin-top: 4.8rem;
    transition-delay: 700ms;

    @include responsive.breakpoint(1300px) {
      display: none;
    }

    .--menu {
      @include responsive.breakpoint(smaller) {
        display: flex;
      }

      @include responsive.breakpoint(1300px) {
        display: none;
      }
    }
  }
}

.--resources{
  flex-direction: row;
  align-items: center;
}