.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.line {
  width: 0%;
  height: 3px;
  background-color: var(--dividers);
}

.fade-up-init {
  animation: fade-up 400ms linear forwards;
}

.fill-in-init {
  animation: fill-in 800ms linear forwards;
}

[data-aos=fade-up] {
  transform: translateY(32px);
  opacity: 0;
  transition: transform 400ms linear, opacity 400ms linear;
}

[data-aos=fill-in] {
  width: 0%;
  transition: width 400ms linear;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 4.4rem;
}
@media (min-width: 375px) {
  .container {
    max-width: 1350px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 1350px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1390px;
  }
}
@media (min-width: 375px) {
  .container header {
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .container header {
    padding: 0 100px;
  }
}
@media (min-width: 1440px) {
  .container header {
    padding: 0 60px;
  }
}
.container main {
  display: flex;
  flex-direction: column;
  gap: 26.4rem;
}
@media (min-width: 375px) {
  .container main {
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .container main {
    padding: 0 100px;
  }
}
@media (min-width: 1440px) {
  .container main {
    padding: 0 60px;
  }
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

body {
  background-color: var(--bg-color);
  transition: background 500ms linear, color 500ms linear;
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  position: relative;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
a {
  text-decoration: none;
}
a .button {
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  border: none;
  outline: none;
  display: flex;
  height: 50.4px;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--bg-color);
  text-transform: uppercase;
  padding: 15.5px 0 15.5px 32px;
  font-size: 1.44rem;
  gap: 16px;
  border-radius: 1px;
  box-shadow: 0px 4px 4px var(--box-shadow);
  transition: background-color 500ms linear, color 500ms linear, fill 500ms linear;
}
a .button:hover {
  background-color: var(--button-hover-color);
  transition: background linear 250ms;
}
a .button:hover .icon {
  background-color: var(--icon-button-hover-color);
  transition: background linear 250ms;
}
a .button:active {
  box-shadow: none;
}
a .button .icon {
  color: var(--bg-color);
  display: flex;
  align-items: center;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  padding: 0px 15px;
  height: 50.4px;
  background-color: var(--icons-bg);
  transition: background-color 500ms linear, color 500ms linear, fill 500ms linear;
}
a .button .icon .loader :nth-child(1) {
  animation: loader 3s infinite;
  animation-delay: 0s;
}
a .button .icon .loader :nth-child(8) {
  animation: loader 3s infinite;
  animation-delay: 0.3s;
}
a .button .icon .loader :nth-child(6) {
  animation: loader 3s infinite;
  animation-delay: 0.6s;
}
a .button .icon .loader :nth-child(4) {
  animation: loader 3s infinite;
  animation-delay: 0.9s;
}
a .button .icon .loader :nth-child(2) {
  animation: loader 3s infinite;
  animation-delay: 1.2s;
}
a .button .icon .loader :nth-child(7) {
  animation: loader 3s infinite;
  animation-delay: 1.5s;
}
a .button .icon .loader :nth-child(5) {
  animation: loader 3s infinite;
  animation-delay: 1.8s;
}
a .button .icon .loader :nth-child(3) {
  animation: loader 3s infinite;
  animation-delay: 2.1s;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.footer .line {
  margin-bottom: 6.4rem;
}
.footer .footer__container {
  display: flex;
  flex-direction: column;
  gap: 10.8rem;
  margin-bottom: 6.4rem;
}
@media (min-width: 768px) {
  .footer .footer__container {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer .footer__container .social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.2rem;
}
@media (min-width: 768px) {
  .footer .footer__container .social-links {
    align-items: flex-start;
    text-align: left;
  }
}
.footer .footer__container .social-links label {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--primary-color);
}
.footer .footer__container .social-links .social-links__links-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media (min-width: 768px) {
  .footer .footer__container .social-links .social-links__links-container {
    flex-direction: row;
  }
}
.footer .footer__container .social-links .social-links__links-container a {
  color: var(--primary-color);
  font-size: 1.8rem;
  opacity: 0.6;
  transition: opacity 400ms linear;
}
.footer .footer__container .social-links .social-links__links-container a:hover {
  opacity: 1;
  transition: opacity 400ms linear;
}
.footer .footer__container .footer__contact {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: center;
  align-items: center;
}
@media (min-width: 768px) {
  .footer .footer__container .footer__contact {
    align-items: flex-start;
    text-align: left;
  }
}
.footer .footer__container .footer__contact label {
  color: var(--primary-color);
  font-size: 2.4rem;
  font-weight: 500;
}
.footer .footer__container .footer__contact p {
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
  color: var(--primary-color);
  opacity: 0.6;
  transition: opacity 400ms linear;
}
.footer .footer__container .footer__contact p:hover {
  opacity: 1;
  transition: opacity 400ms linear;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 375px) {
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    opacity: 0;
    z-index: 999;
    animation: appearing linear 400ms forwards;
  }
  .header .logo {
    display: flex;
    align-items: center;
    height: 48px;
  }
  .header .logo svg {
    height: 100%;
  }
  .header .logo svg path {
    fill: var(--primary-color);
    transition: background-color 500ms linear, color 500ms linear, fill 500ms linear;
  }
  .header .--header {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
@media (min-width: 375px) and (min-width: 375px) {
  .header .--header {
    display: none;
  }
}
@media (min-width: 375px) and (min-width: 1300px) {
  .header .--header {
    display: flex;
  }
}
@media (min-width: 375px) {
  .header .closed {
    z-index: 999;
    cursor: pointer;
  }
}
@media (min-width: 375px) and (min-width: 1300px) {
  .header .closed {
    display: none;
  }
}
@media (min-width: 375px) {
  .header .closed line {
    color: var(--primary-color);
    transition: background-color 500ms linear, color 500ms linear, fill 500ms linear;
  }
}
@media (min-width: 375px) {
  .header .closed line:nth-of-type(1) {
    opacity: 1;
    transition: opacity 80ms linear;
  }
}
@media (min-width: 375px) {
  .header .closed line:nth-of-type(2) {
    transition: transform 250ms linear;
    transform: rotate(0deg) translate(0, 0);
  }
}
@media (min-width: 375px) {
  .header .closed line:nth-of-type(3) {
    transition: transform 250ms linear;
    transform: rotate(0deg) translate(0, 0);
  }
}
@media (min-width: 375px) {
  .header .open {
    z-index: 999;
    cursor: pointer;
  }
}
@media (min-width: 375px) and (min-width: 1300px) {
  .header .open {
    display: none;
  }
}
@media (min-width: 375px) {
  .header .open line {
    color: var(--primary-color);
    transition: background-color 500ms linear, color 500ms linear, fill 500ms linear;
  }
}
@media (min-width: 375px) {
  .header .open line:nth-of-type(1) {
    opacity: 0;
    transition: opacity 80ms linear;
  }
}
@media (min-width: 375px) {
  .header .open line:nth-of-type(2) {
    transition: transform 250ms linear;
    transform: rotate(45deg) translate(25%, -25%);
  }
}
@media (min-width: 375px) {
  .header .open line:nth-of-type(3) {
    transition: transform 250ms linear;
    transform: rotate(-45deg) translate(-50%, 0);
  }
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.open-menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: width 250ms linear, background 400ms linear;
}
@media (min-width: 375px) {
  .open-menu {
    background-color: var(--responsive-menu);
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
  }
}
@media (min-width: 1300px) {
  .open-menu {
    background-color: transparent;
    position: static;
    height: 100vh;
    width: 100%;
  }
}
.open-menu .menu__link, .open-menu .theme {
  opacity: 1;
  transform: translateY(0);
  transition: transform 500ms linear, opacity 490ms linear;
}
.open-menu .menu__link:nth-child(1), .open-menu .theme:nth-child(1) {
  transition-delay: 200ms;
}
.open-menu .menu__link:nth-child(2), .open-menu .theme:nth-child(2) {
  transition-delay: 400ms;
}
.open-menu .menu__link:nth-child(3), .open-menu .theme:nth-child(3) {
  transition-delay: 500ms;
}
.open-menu .menu__link:nth-child(4), .open-menu .theme:nth-child(4) {
  transition-delay: 600ms;
}
.open-menu .menu__link:nth-child(5), .open-menu .theme:nth-child(5) {
  transition-delay: 700ms;
}

.closed-menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: width 250ms linear;
  overflow: hidden;
}
@media (min-width: 375px) {
  .closed-menu {
    background-color: var(--responsive-menu);
    position: absolute;
    height: 100vh;
    width: 0;
    top: 0;
    right: 0;
  }
}
@media (min-width: 1300px) {
  .closed-menu {
    background-color: transparent;
    margin-top: 25px;
    position: static;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow: initial;
  }
}
@media (min-width: 375px) {
  .closed-menu .menu__link, .closed-menu .theme {
    opacity: 0;
    transform: translateY(32px);
    transition-delay: 0s;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 9.6rem;
}
@media (min-width: 375px) {
  ul {
    width: 1350px;
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  ul {
    width: 1350px;
    padding: 0 100px;
  }
}
@media (min-width: 1300px) {
  ul {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    gap: 4rem;
    padding: 0;
  }
}
ul .menu__link {
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  gap: 1.6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (min-width: 1300px) {
  ul .menu__link {
    width: -moz-fit-content;
    width: fit-content;
    opacity: 0;
    animation: appearing linear 400ms forwards;
  }
  ul .menu__link:nth-child(1) {
    animation-delay: 550ms;
  }
  ul .menu__link:nth-child(2) {
    animation-delay: 900ms;
  }
  ul .menu__link:nth-child(3) {
    animation-delay: 1250ms;
  }
  ul .menu__link:nth-child(4) {
    animation-delay: 1600ms;
  }
}
ul .menu__link:hover {
  color: var(--primary-color);
  transition: color 250ms linear;
}
ul .menu__link:hover:nth-child(n) {
  transition-delay: 0s;
}
@media (min-width: 768px) {
  ul .menu__link svg {
    width: 28px;
    height: 28px;
  }
}
ul .menu__link .menu__link__item {
  text-decoration: none;
  position: relative;
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 500;
  padding-bottom: 0.8rem;
}
@media (min-width: 768px) {
  ul .menu__link .menu__link__item {
    font-size: 2.4rem;
  }
}
ul .menu__link .menu__link__item:hover {
  color: var(--primary-color);
  transition: color 250ms linear;
}
ul .menu__link .menu__link__item::after {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 1.8px;
  transition: width 250ms linear;
}
ul .menu__link:hover > a::after {
  width: 100%;
}
ul .theme {
  margin-top: 4.8rem;
  transition-delay: 700ms;
}
@media (min-width: 1300px) {
  ul .theme {
    display: none;
  }
}
@media (min-width: 375px) {
  ul .theme .--menu {
    display: flex;
  }
}
@media (min-width: 1300px) {
  ul .theme .--menu {
    display: none;
  }
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.theme-mode {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: background-color 500ms linear, color 500ms linear, fill 500ms linear;
}
.theme-mode svg {
  color: var(--primary-color);
  margin-bottom: 1px;
}
.theme-mode .sun {
  animation: spinning linear 400ms;
}
.theme-mode .sun circle {
  animation: fill 400ms 170ms linear forwards;
}
.theme-mode .moon circle {
  animation: fill 400ms 170ms linear forwards;
}
.theme-mode span {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 375px) {
  .hero {
    margin-top: 26.4rem;
  }
}
@media (min-width: 768px) {
  .hero {
    margin-top: 18.4rem;
  }
}
@media (min-width: 1440px) {
  .hero {
    margin-top: 18.4rem;
  }
}
.hero .hero__intro {
  display: flex;
  justify-content: space-between;
}
.hero .hero__intro .hero__line__container {
  width: 30%;
}
.hero .hero__intro .line {
  margin-top: 20.4rem;
  height: 3px;
  background-color: var(--primary-color);
}
@media (min-width: 375px) {
  .hero .hero__intro .hero__intro__text {
    width: 340px;
  }
}
@media (min-width: 500px) {
  .hero .hero__intro .hero__intro__text {
    width: 380px;
  }
}
@media (min-width: 768px) {
  .hero .hero__intro .hero__intro__text {
    width: 563px;
  }
}
@media (min-width: 1440px) {
  .hero .hero__intro .hero__intro__text {
    width: 58%;
  }
}
.hero .hero__intro .hero__intro__text .hero__intro__title {
  color: var(--title-color);
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 2.4rem;
  opacity: 0;
  animation: appearing linear 400ms forwards;
  animation-delay: 550ms;
}
@media (min-width: 375px) {
  .hero .hero__intro .hero__intro__text .hero__intro__title {
    font-size: 3.3rem;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .hero .hero__intro .hero__intro__text .hero__intro__title {
    font-size: 5.6rem;
  }
}
@media (min-width: 1440px) {
  .hero .hero__intro .hero__intro__text .hero__intro__title {
    font-size: 7.2rem;
  }
}
.hero .hero__intro .hero__intro__text .hero__intro__text {
  color: var(--text-color);
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 5.6rem;
  opacity: 0;
  animation: appearing linear 400ms forwards;
  animation-delay: 900ms;
}
@media (min-width: 375px) {
  .hero .hero__intro .hero__intro__text .hero__intro__text {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .hero .hero__intro .hero__intro__text .hero__intro__text {
    font-size: 2.4rem;
    width: 90%;
  }
}
@media (min-width: 1440px) {
  .hero .hero__intro .hero__intro__text .hero__intro__text {
    width: 80%;
  }
}
.hero .hero__intro .hero__intro__text .button {
  animation: appearing linear 400ms forwards;
  opacity: 0;
  animation-delay: 1250ms;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.about {
  margin-top: 36.4rem;
}
.about .about__text {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  justify-content: space-between;
}
@media (min-width: 1300px) {
  .about .about__text {
    flex-direction: row;
  }
}
.about .about__text .about__tag {
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 2.88rem;
}
@media (min-width: 1300px) {
  .about .about__text .about__tag {
    font-size: 4rem;
  }
}
.about .about__text .about__description {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media (min-width: 1300px) {
  .about .about__text .about__description {
    width: 50%;
  }
}
.about .about__text .about__description .about__title {
  color: var(--title-color);
  font-size: 2.88rem;
  font-weight: 500;
}
@media (min-width: 1300px) {
  .about .about__text .about__description .about__title {
    font-size: 4rem;
  }
}
.about .about__text .about__description .about__paragraph {
  color: var(--text-color);
  font-size: 1.6rem;
}
@media (min-width: 1300px) {
  .about .about__text .about__description .about__paragraph {
    font-size: 1.8rem;
  }
}
.about .about__divider {
  margin: 8.8rem 0 6.4rem 0;
}
@media (min-width: 1300px) {
  .about .about__divider {
    margin-top: 17.9rem;
  }
}
.about .services {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 768px) {
  .about .services {
    width: 90%;
  }
}
@media (min-width: 1300px) {
  .about .services {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
}
.about .services .service {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.about .services .service .title {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--title-color);
}
.about .services .service .text {
  font-size: 1.8rem;
  color: var(--text-color);
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.works .last-line {
  margin-top: 6.4rem;
}
.works .works__text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 6.4rem;
}
.works .works__text .works__text__tag {
  font-size: 2.88rem;
  color: var(--title-color);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.works .works__text .works__text__subtitle {
  font-size: 1.8rem;
  color: var(--text-color);
}
.works .works__slider {
  width: 100%;
  margin-bottom: 8rem;
}
.works .works__slider .image__field {
  width: 100%;
  height: 100%;
}
.works .works__slider .image__field .project-image {
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
.works .works__slider .works__slider__controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.2rem;
}
.works .works__slider .works__slider__controller .controller__way {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: 500;
  opacity: 0.6;
  transition: opacity 250ms linear;
}
.works .works__slider .works__slider__controller .controller__way:hover {
  opacity: 1;
  transition: opacity 250ms linear;
}
.works .works__slider .works__slider__controller .controller__checkbox {
  display: flex;
  gap: 8px;
}
.works .works__slider .works__slider__controller .controller__checkbox .checkbox {
  cursor: pointer;
  border-radius: 1;
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  opacity: 0.3;
}
.works .works__slider .works__slider__controller .controller__checkbox .checkbox:active {
  opacity: 1;
}
.works .works__slider .works__slider__controller .controller__checkbox .checked {
  opacity: 1;
}
.works .works__description {
  display: flex;
  flex-direction: column;
  gap: 10.4rem;
  margin-bottom: 16.4rem;
}
@media (min-width: 768px) {
  .works .works__description {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}
.works .works__description .works__overview {
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
}
.works .works__description .works__overview .works__overview__status {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.works .works__description .works__overview .works__overview__status .works__overview__project-name {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--primary-color);
}
.works .works__description .works__overview .works__overview__status .works__overview__avaliable {
  font-size: 1.8rem;
  color: var(--text-color);
}
@media (min-width: 768px) {
  .works .works__description .works__additional-info {
    width: 50%;
  }
}
@media (min-width: 1300px) {
  .works .works__description .works__additional-info {
    width: 40%;
  }
}
.works .works__description .works__additional-info .works__additional-info__description {
  font-size: 1.6rem;
  color: var(--text-color);
  margin-bottom: 5.6rem;
}
.works .works__description .works__additional-info .works__additional-info__specifications {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.works .works__description .works__additional-info .works__additional-info__specifications .data-sheet {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.works .works__description .works__additional-info .works__additional-info__specifications .data-sheet .data-sheet-label {
  color: var(--primary-color);
}
.works .works__description .works__additional-info .works__additional-info__specifications .data-sheet .data-sheet-value {
  color: var(--text-color);
}
.works .works__projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding: 0;
}
.works .works__projects .works__other-projects__layout {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}
.works .works__projects .works__other-projects__layout .works__other-projects__content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1300px) {
  .works .works__projects .works__other-projects__layout .works__other-projects__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.works .works__projects .works__other-projects__layout .project-preview {
  margin-bottom: 2.4rem;
  width: 16rem;
}
.works .works__projects .works__other-projects__layout .project-preview path {
  fill: var(--primary-color);
}
@media (min-width: 1300px) {
  .works .works__projects .works__other-projects__layout .project-preview {
    margin-bottom: 0rem;
  }
}
.works .works__projects .works__other-projects__layout .project-description {
  font-size: 1.6rem;
  color: var(--text-color);
  margin-bottom: 3.2rem;
}
@media (min-width: 1300px) {
  .works .works__projects .works__other-projects__layout .project-description {
    width: 36%;
    margin-bottom: 0rem;
  }
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 22.4rem;
}
@media (min-width: 1000px) {
  .contact {
    padding: 0px 122px;
  }
}
.contact .contact__container {
  display: flex;
  flex-direction: column;
  gap: 9rem;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.contact__display {
  color: var(--primary-color);
  font-size: 3.3rem;
}
@media (min-width: 738px) {
  .contact__display {
    width: 80%;
  }
}
@media (min-width: 1000px) {
  .contact__display {
    width: 85%;
  }
}
@media (min-width: 1300px) {
  .contact__display {
    width: 60%;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.contact__form .button {
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .contact__form .button {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.contact__form .contact__form__container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media (min-width: 768px) {
  .contact__form .contact__form__container {
    flex-direction: row;
  }
}
.contact__form .contact__form__input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (min-width: 768px) {
  .contact__form .contact__form__input-container {
    width: 100%;
  }
}
.contact__form .contact__form__input-container label {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
}
.contact__form .contact__form__input-container .label-error {
  color: var(--error-color);
}
.contact__form .contact__form__input-container input, .contact__form .contact__form__input-container #phone-input {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--strokes);
  border-radius: 1px;
  padding: 18px 24px;
  transition: border 400ms linear;
}
.contact__form .contact__form__input-container input:focus, .contact__form .contact__form__input-container #phone-input:focus {
  border: 2px solid var(--primary-color);
  outline: none;
  transition: border 400ms linear;
}
.contact__form .contact__form__input-container textarea {
  color: var(--primary-color);
  background-color: transparent;
  resize: none;
  padding: 24px;
  height: 14rem;
  border: 2px solid var(--strokes);
  border-radius: 1px;
  transition: border 400ms linear;
}
.contact__form .contact__form__input-container textarea:focus {
  border: 2px solid var(--primary-color);
  outline: none;
  transition: border 400ms linear;
}
.contact__form .contact__form__input-container .input-error {
  border: 2px solid var(--error-color);
}
.contact__form .contact__form__input-container .error {
  color: var(--error-color);
  font-size: 1.6rem;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

.light {
  --strokes: rgba(7, 7, 7, 0.3);
  --dividers: rgba(0,0,0,0.1);
  --bg-color: #f4f4f4;
  --title-color: #232323;
  --text-color: #626262;
  --primary-color: #070707;
  --icons-bg: #161616;
  --button-hover-color: #282828;
  --icon-button-hover-color: #494949;
  --responsive-menu: #D6D6D6;
  --box-shadow:rgba(0, 0, 0, 0.25);
  --error-color: #E12B2B ;
}

.dark {
  --strokes: rgba(255, 255, 255, 0.3);
  --dividers: rgba(255,255,255,0.1);
  --bg-color: #070707;
  --title-color: #DFDFDF;
  --text-color: #9C9C9C;
  --primary-color: #fff;
  --icons-bg: #eaeaea;
  --button-hover-color: #D6D6D6;
  --icon-button-hover-color: #B7sB7B7;
  --responsive-menu: #131313;
  --box-shadow:rgba(250, 250, 250, 0.25);
  --error-color: #FF4D3B;
}

@keyframes appearing {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.feedback-container .feedback-tag {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  gap: 16px;
  color: var(--text-color);
  margin-bottom: 1.6rem;
  font-size: 1.44rem;
}
@media (min-width: 768px) {
  .feedback-container .feedback-tag {
    font-size: 1.6rem;
  }
}
.feedback-container .feedback-title {
  font-size: 4rem;
  color: var(--primary-color);
  margin-bottom: 2.4rem;
}
@media (min-width: 768px) {
  .feedback-container .feedback-title {
    font-size: 5.6rem;
  }
}
.feedback-container .feedback-text {
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 6.4rem;
}
@media (min-width: 768px) {
  .feedback-container .feedback-text {
    font-size: 2.4rem;
    width: 65%;
  }
}/*# sourceMappingURL=styles.css.map */