@import "../../../../styles/responsive";
@import "../../../../styles/variables";

.contact__display {
  color: $primary-color;
  font-size: $mobile-display;

  @include breakpoint(738px) {
    width: 80%;
  }

  @include breakpoint(1000px) {
    width: 85%;
  }

  @include breakpoint(1300px) {
    width: 60%;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  .button {
    width: 100%;
    justify-content: space-between;

    @include breakpoint(768px) {
      width: fit-content;
    }
  }

  .contact__form__container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    @include breakpoint(768px) {
      flex-direction: row;
    }
  }

  .contact__form__input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include breakpoint(768px) {
      width: 100%;
    }

    label {
      font-size: $mobile-section-text;
      font-weight: $medium;
      color: $primary-color;
    }

    .label-error {
      color: $error-color;
    }

    input,
    #phone-input {
      background-color: transparent;
      color: $primary-color;

      border: 2px solid $strokes;
      border-radius: 1px;
      padding: 18px 24px;
      transition: border 400ms linear;

      &:focus {
        border: 2px solid $primary-color;
        outline: none;
        transition: border 400ms linear;
      }
    }

    textarea {
      color: $primary-color;
      background-color: transparent;
      resize: none;
      padding: 24px;
      height: 14rem;
      border: 2px solid $strokes;
      border-radius: 1px;
      transition: border 400ms linear;

      &:focus {
        border: 2px solid $primary-color;
        outline: none;
        transition: border 400ms linear;
      }
    }

    .input-error {
      border: 2px solid $error-color;
    }

    .error {
      color: $error-color;
      font-size: $mobile-section-text;
    }
  }
}
