@import "../../../styles/variables";
@import "../../../styles/responsive";
@import "../../../styles/mixins";

.contact {
  display: flex;
  flex-direction: column;
  gap: 22.4rem;

  @include breakpoint(1000px) {
    padding: 0px 122px;
  }

  .contact__container {
    display: flex;
    flex-direction: column;
    gap: 9rem;
  }
}
