@import '../../../styles/Responsive';
@import '../../../styles/_Variables.scss';

.footer{
    
    .line{
        margin-bottom: 6.4rem;
    }

    .footer__container{
        display: flex;
        flex-direction: column;
        gap: 10.8rem;
        margin-bottom: 6.4rem;

        @include breakpoint(768px){
            gap: 0;
            flex-direction: row;
            justify-content: space-between;
        }

        .social-links{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 3.2rem;
    
            @include breakpoint(768px){
                align-items: flex-start;
                text-align: left;
            }
    
            label{
                font-size: $mobile-section-text-xlarge;
                font-weight: $medium;
                color: $primary-color;
            }
    
            .social-links__links-container{
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
    
                
                @include breakpoint(768px){
                 flex-direction: row;
                }
    
                a{
                    color: $primary-color;
                    font-size: $mobile-section-text-large;
                    opacity: 0.6;
                    transition: opacity 400ms linear;
    
                    &:hover{
                        opacity: 1;
                        transition: opacity 400ms linear;
                    }
                }
            }
    
          
        }
    
        .footer__contact{
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            text-align: center;
            align-items: center;

            @include breakpoint(768px){
                align-items: flex-start;
                text-align: left;
            }
    
            label{
                color: $primary-color;
                font-size: $mobile-section-text-xlarge;
                font-weight: $medium;
            }
    
            p{
                cursor: pointer;
                font-family: $font;
                font-size: $mobile-section-text-large;
                color: $primary-color;
                opacity: 0.6;
    
                transition: opacity 400ms linear;
    
                &:hover{
                    opacity: 1;
                    transition: opacity 400ms linear;
                }
            }

        }
    }
    
}