@import "../../../styles/variables";
@import "../../../styles/responsive";
@import "../../../styles/mixins";

.works {
  .last-line {
    margin-top: 6.4rem;
  }

  .works__text {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 6.4rem;

    .works__text__tag {
      font-size: $mobile-section-tag;
      color: $title-color;
      font-weight: $bold;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    .works__text__subtitle {
      font-size: $mobile-section-text-large;
      color: $text-color;
    }
  }
}
