@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';
@import '../../styles/mixins.scss';

.theme-mode{
    color: $primary-color;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    @include colors-transition;
 
    svg{
        color: $primary-color;
        margin-bottom: 1px;
    }

    .sun{
        animation: spinning linear 400ms;
        
        circle{
            @include fill-effect
        }
    }

    .moon{
        circle{
            @include fill-effect
        }
    }

    span{
        font-size: $mobile-section-text-large;
        font-weight: $medium;
        text-transform: uppercase;
    }
}